.formPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.formFile {
    margin-top: 15px;
}

.formVert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formFileI {
    width: 180px;
}