.header {
    box-sizing: border-box;
    margin: 0 2vw 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}

.header__nav {
    display: flex;
}

.header__link {
    margin: 0 1vw;
}