.card {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color:blanchedalmond;
}

.card__name {
    font-size: 1.25em;
    margin: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
}

.card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card__author {
    font-size: 0.9em;
    margin: 0 0 0 10px;
}

.card__desc {
    height: max-content;
    margin: 0 0 50px 0;
    text-align: center;
}

.card__tags {
    width: 100%;
    margin: 0;
}

.card__contentInf {
    display: flex;
    flex-wrap: wrap;
}

.like {
    display: flex;
    width: 50%;
}

.like__icon {
    width: 20px;
    height: 20px;
    mask-image: url('./like.svg');
    -webkit-mask-image: url('./like.svg');
    background-color: black;
}

.view {
    display: flex;
    width: 50%;
}

.view__icon {
    width: 20px;
    height: 20px;
    mask-image: url('./view.svg');
    -webkit-mask-image: url('./view.svg');
    background-color: black;
}