.card {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:blanchedalmond;
}

.card__name {
    font-size: 1.25em;
    margin: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
}
